/*Main style sheet */

/* intro section */

h1 {text-align: center;
    font-size: 48px;
    color: red;
    font-weight: bold;
    font: 'Roboto','PT Sans';
    line-height: 1.4;
}

h2 {
    font-size: 28px;
    color: #2B416C;
}

h3 {text-align: center;
    color: #2B416C;
}

.cricgif {
    display: block;
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
}

.container {
    display:block;
}

#Home {
    display: block;
    box-sizing: border-box;
}

#logo-row {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

figcaption {
    text-align: center;
}

body{
    display: block;
    font-family: 'Open Sans','PT Sans','Arial';
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    font-weight: 300;
    background-color: #c2d6dd
}

body, p {
    font-weight: 300;
}

#Batting { 
    background-color: #ddc9c2;
    margin-left: -250px;
    margin-right:-250px;
    padding-left:250px;
    padding-right: 250px;
    margin-bottom: -25px;
    margin-top: -25px;
} 

#BattingPerformance {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ddc9c2;
}

#Bowling{
    background-color: #c9c2dd;
    margin-left: -250px;
    margin-right:-250px;
    padding-left:250px;
    padding-right: 250px;
    margin-bottom: -25px;
    margin-top: -25px;
    
}

#BowlingPerformance{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #c9c2dd;   
}

#Ranking{
    background-color: #c2d6dd;;
    margin-left: -250px;
    margin-right:-250px;
    padding-left:250px;
    padding-right: 250px;
    margin-bottom: -25px;
    margin-top: -25px;
    
}

#PlayerScore{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #c2d6dd;   
}

#Bottom {background-color: whitesmoke;
    margin-left: -250px;
    margin-right:-250px;
    padding-left:250px;
    padding-right: 250px;
    margin-bottom: -25px;
    margin-top: -25px;
}

#Footer {background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: whitesmoke;    
}

footer {
    border-top: dashed 1px black;
}

::-moz-selection {
    background:#663399}
::selection{
    color: white;
}

.graph {
    padding: 10px;
}

.text {
    margin-left: 35px;
    margin-right: 35px;
}

.colortext{
    color: #2B416C;
}

/**Raning Table properties**/

table { border: solid 2px white; 
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: 10px;
    border-collapse: collapse;
}

tr {
    border-bottom: solid 2px white;
}

th { 
    color: #2B416C;
    text-align: center;
    border-bottom: solid 2px white;
    background-color: #2B416C;
    color: aliceblue;
    font-size: 16px;
    font-weight: normal;
}

td {
    text-align: center;
    padding: 5px;
    border-bottom: solid 2px white;
    font-size: 16px;
    font-weight: normal;
}

tr:nth-child(even) {
    background-color: ;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: lightslategrey;
    color: white;
}

/** **/

@media screen and (max-width:1100px) {
    .container{width:100%;
        }
   #logo-row{display:flex;
    flex-direction:row;
       justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    #logo-row{display: grid;
    grid-template-columns: 33% 33% 33%
    }
    .container{
        width:90%;}
}

@media screen and (max-width: 840px) {
    #logo-row{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
}
