
:root{
    --primary-bgcolor:#fff;
    --secondary-bgcolor: #ffead6;
    --main-fontcolor: #232323;
    --font-family: "merriweather",serif
}

html{
    font-size: 62.5%;
    font-weight: 400;
    box-sizing: border-box;
}

h1 {text-align: center;
    font-size: 4rem;
    color: #2b2f31;
    font-weight: bold;
    line-height: 1.4;
}



ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
}

h2 {
    font-size: 28px;
    color: #2B416C;
}

h3 {text-align: center;
    color: #2B416C;
}

p {
    font-size: calc(1rem + 0.65vw);
}

.cricgif {
    display: block;
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
}


.Home {
    display: block;
    box-sizing: border-box;
}

.logo-row {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

figcaption {
    text-align: center;
}

body{
    display: block;
    font-family: var(--font-family);
    box-sizing: border-box;
    font-weight: 300;
    background-color: var(--primary-bgcolor);

}

section{
    padding: 40px 0;
    margin:0
}

.team-logo-container{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.batting-performance {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secondary-bgcolor);;
}

.bowling-performance{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secondary-bgcolor);   
}

.overall{
    background-color:var(--secondary-bgcolor);
    margin-left: -250px;
    margin-right:-250px;
    padding-left:250px;
    padding-right: 250px;
    margin-bottom: -25px;
    margin-top: -25px;
    
}

.footer {
    background-color: var(--primary-bgcolor); 
    border-top: dashed 1px black;   
}


::-moz-selection {
    background:#663399}
::selection{
    color: white;
}

.graph {
    padding: 40px 0;
}


.colortext{
    color: #2B416C;
}


/** media queries**/

/* @media screen and (max-width:1100px) {
    .container{width:100%;
        }
   .logo-row{display:flex;
    flex-direction:row;
       justify-content: center;
    }
} */

@media screen and (max-width: 1000px) {
    .logo-row{display: grid;
    grid-template-columns: 33% 33% 33%
    }
    .container{
        width:90%;
    }
}

@media screen and (max-width: 840px) {
    .logo-row{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
