
:root{
    --primary-bgcolor:#fff;
    --secondary-bgcolor: #ffead6;
    --primary-fontcolor: #2b2f31;
    --secondary-fontcolor: #2B416C;
    --font-family: "merriweather",serif
}

html{
    font-size: 62.5%;
    font-weight: 400;
    box-sizing: border-box;
}


body{
    font-family: var(--font-family);
    box-sizing: border-box;
    font-size: 2rem;
    background-color: var(--primary-bgcolor);
    color: var(--primary-fontcolor);
    line-height: 1.5;

}


h1 {
    text-align: center;
    font-size: 9rem;
    color: var(--secondary-fontcolor);
    font-weight: bold;
    line-height: 1.4;
}



ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--secondary-fontcolor);
}

a:hover{
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    color: var(--secondary-fontcolor);
}

h3 {
    text-align: center;
    color: var(--secondary-fontcolor);
    margin-top: 0;
    font-size: 2rem;
}

.header{
    padding: 120px 0 80px 0;
}

.container{
    padding: 0 40px;
}

.logo-row {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

figcaption {
    text-align: center;
}

section{
    padding: 40px 0;
    margin:0
}

.team-logo-container{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.batting-performance {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secondary-bgcolor);;
}

.bowling-performance{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secondary-bgcolor);   
}

.overall{
    background-color:var(--secondary-bgcolor);   
}

.footer {
    background-color: var(--primary-bgcolor); 
    border-top: dashed 1px black;   
    padding: 40px 0;
}


::-moz-selection {
    background:#663399}
::selection{
    color: white;
}

.graph-box{
    padding: 20px 0;
}

.graph {
    padding: 40px 0;
}


.colortext{
    font-weight: bold;
}

/* .hist2{
    display: none;
} */

/** media queries**/

/* @media screen and (max-width:1100px) {
    .container{width:100%;
        }
   .logo-row{display:flex;
    flex-direction:row;
       justify-content: center;
    }
} */

@media screen and (max-width: 1000px) {
    .logo-row{display: grid;
    grid-template-columns: 33% 33% 33%
    }
    .container{
        width:90%;
    }
}

@media screen and (max-width: 840px) {
    .logo-row{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .batbox-1, .bowlbox-1, .hist1{
        display: none;
    }
}

@media screen and (min-width: 841px){
    .batbox-2, .bowlbox-2, .hist2{
        display: none;
    }
}
